/* https://www.figma.com/file/Vb62YiJb8ogP0AKc4E8R7R/Travel-Agency-Website?type=design&node-id=0-1&mode=design&t=SX1cDDavK49L1hKD-0 */

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    min-height: 100vh;
}

.sec1{
    height: 788px;
}

.header{
    height: 88px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffff;
    background-color: hsla(236, 100%, 73%, 35%);
}

.menu a {
    text-decoration: none;
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
}

.menu a:hover {
   color: #FFAD32;
}

#logo{
    font-size: 40px;
    font-family: "Lobster", sans-serif;
}

.menu{
    display: flex;
    gap: 30px;
}

.sec1{
    background-image: url(../photos/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.explore{
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: "Poppins", sans-serif;
    color: #ffff;
}

.explore h1{
        text-shadow: 4px 2px 4px rgba(0, 0, 0, 1);
}

.inputs{
    background-color: hsla(236, 100%, 73%, 35%);;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    color: #767F86;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: end;
    padding: 30px;
    justify-content: center;
    gap: 10px;
    height: 140px;
    width: 1303px;
    font-size: 20.8px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

input[type="date"]::-webkit-calendar-picker-indicator{
    width: 30px;
    height: 33px;
}

.a1{
    width: 405px;
    height: 81px;
}

.a2{
    width: 289px;
    height: 81px;
}

#local{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid gray;
    font-family: "Poppins", sans-serif;
}

#data_sair{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid gray;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    font-size: 20px;
    color: #767F86;
}

#data_voltar{
    width: 100%;
    height: 50px;
    border-radius: 8px;
    border: 2px solid gray;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    font-size: 20px;
    color: #767F86;
}
.butao{
    border: none;
    border-radius: 8px;
    width: 210px;
    height: 50px;
    background: #FFAD32;
    font-size: 20.8px;
    font-family: "Poppins", sans-serif;
    color: #ffff;
}

.butao:hover{
    background-color: #747dff;
}

.sec2{
    border: 1px solid black;
    display: flex;
    height: 1000px;
    align-items: center;
    justify-content: center;
}

.images{
    width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px ;

}

.imgs{
    width: 324px;
    height: 324px;
    background-color: #ffff;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.img {
    width: 300px; 
    height: 300px; 
}

.text{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 30px;
    height: 700px;
}

.text hr{
     border: 4px solid #FFAD32;
     width: 340px;
     margin-bottom: 20px;
     margin-top: 20px;
     border-radius: 8px;
}

.text h3{
    font-family: "Lobster", sans-serif;
    color: #747DFF;
    font-size: 36px;
    
}

.text p{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    width: 590px;
    height: 320px;
}

.sec3{
    height: 1438px;
}